In [28]:
import pandas as pd

filename = "./filtered/1895 copy.xlsx"
df = pd.read_excel(filename)

## print the first 5 rows of the data
df.head()

,Unnamed: 0,nom_rue,no_maison,proprietaire_nom_adresse,chef_nom,chef_prenom,chef_date_naissance_3,chef_origine,epouse_nom,epouse_prenom,...,enfants_profession,enfants_permis,pensionnaires_nom,pensionnaires_prenom,pensionnaires_date_naissance_3,pensionnaires_origine,pensionnaires_condition,pensionnaires_permis,observations,Page
0,0,stahler|schweyer,·,id|marie|jacob,·,talmann|tornarc|cavernay|trottet|tadi|treboux|...,·,catherine|mariette|louisa|marc|alfred|andre|ho...,·,·,...,·,·,·,·,546 95|154|123|222|264|199|128|176|267,·,·,31744|·|·|106|136|123,arlemands anolais|delaes espapnols|st francais...,0
1,5,siebengnann|strahm,·,louise|adele,·,·,·,·,·,wussemboch|wurgler,...,·,·,·,·,·,·,·,·,·,0
2,10,strahm|steimann,·,louis|anna,·,ubert,·,louis,·,elib|wother,...,·,·,·,·,·,·,·,·,·,0
3,20,steimann,·,adie,·,vassil|valegiali|vebr|verney|annee de naissanc...,·,ludscanoff|antoine|marguerite|alfred|marguerit...,·,binden|jahn|binger,...,·,·,·,·,·,·,·,·,·,0
4,21,taillens|tendall,·,julie|louisa,·,vivian,·,charles,·,·,...,·,·,·,·,·,·,·,·,·,0

In [32]:
## filter the data to only include the rows where the value of the column "pensionnaires_condition" is not empty or NaN or "."
df_condition = df[df["pensionnaires_condition"].notnull() & (df["pensionnaires_condition"] != "·")]

## print the first 5 rows of the filtered data
df_condition.head()

,Unnamed: 0,nom_rue,no_maison,proprietaire_nom_adresse,chef_nom,chef_prenom,chef_date_naissance_3,chef_origine,epouse_nom,epouse_prenom,...,enfants_profession,enfants_permis,pensionnaires_nom,pensionnaires_prenom,pensionnaires_date_naissance_3,pensionnaires_origine,pensionnaires_condition,pensionnaires_permis,observations,Page
8,30,st jean,2,kohler,ruff,eugene|capelline vve de felis|kohler amede c,456|31750,italie|lausanne,lower|peney,anna|sidonie,...,·,·,golay|meystre,sea|julie,1268 4|17462,chenit|chierrens,domestique,·,·,1
9,31,st jean,·,·,kohler emile,·,830,·,d olivier,marie,...,lans,·,cornu|lothammer emilie,marie,569|20 71,fribourg|allemagne,domestique,66802|43782,·,1
10,32,st jean,3,frautkor,kohler jean,tauxe a francois|boulenaz ve de analde|bindner...,291|1774,lausanne|leysin|corsier|allemagne,kohler|roland|belet,emma|lina|adele,...,·,·,gysler|borne|tauxe|tauxe|capt,cecile|elise|louis|louise|henri louis,269|6 765|28368|366|4 823,berne|fribourg|leysin|·|le chenit,·|pensre|modiste|tailleur,57218|78580,·,1
12,34,st jean,·,·,raduleseo mathieu,·,459,roumanier,fancieu,marie,...,·,·,colomb,louise,21 1210,rovance,dque,·,·,1
15,37,st jean,4,pamblanc,vuarchet placide victon,schiffmann fred sge pate,4393|·|476,geneve|lucerne,reber|kulling,helene|bertha,...,·,·,dussin,marie,4 72,st barthelemy,dque,·,·,1

In [33]:
## filter the rows where the value of the column "pensionnaires_condition" contains "pension" or "pensre"
df_pensionnaires = df_condition[df_condition["pensionnaires_condition"].str.contains("pension|pensre", na=False)] 

## print the first 5 rows of the filtered data
df_pensionnaires.head()

## print the number of rows in the filtered data
df_pensionnaires.shape

(487, 25)

In [34]:
## print the values of the column "chef_vocation" of the filtered data
df_pensionnaires["chef_vocation"]

10      chocolatier|m serrurier|regle|cordonnier
54                                         regle
56                                    couturiere
78                gypsier|chef de maule|rentiere
80                  tapissier|monteur de pension
                          ...
8900                                   serrurier
8901                                           ·
8963                                  journalier
8978                        dinechier de|pension
8981                                    menagere
Name: chef_vocation, Length: 487, dtype: object

In [35]:
## print the values of the column "pensionnaires_origine" of the filtered data
df_pensionnaires["pensionnaires_origine"]

10                      berne|fribourg|leysin|·|le chenit
54                                       epalinges|·|giez
56                                    schaffhouse|schwitz
78                      ropraz|allemagne|bale|berne berne
80      grisons|bale|grisons|soleure|argovie|allemagne...
                              ...
8900                                             l abbaye
8901                                    lausanne|lausanne
8963                                              lavigny
8978    joucanst|roucanst|angleterre|berne|tessin|guss...
8981                                              st viex
Name: pensionnaires_origine, Length: 487, dtype: object

In [36]:
## save the filtered data to a new file located in the folder "pension"
df_pensionnaires.to_excel(filename.replace("filtered", "pension"))